.favouriteBtn{
    border: none;
    z-index: 10;
    position:relative;
    bottom: 30px;
    left: 10px;   
    background-color: transparent;
}

.favouriteBtn-icon{
    color: rgb(247, 76, 105);
    font-size: 2rem;
    border-radius: 100%;
    box-shadow: 0px 0px 20px 0px rgba(247, 76, 105, 0.9);
}