.parent-div{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.category-links{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(16, 16, 16);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}




.image-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;   
    
}

.image-div img{
  width: 500px;
  height: 300px;

  object-fit: cover;
  border-radius: 10px;
}



.like-btn{
  z-index: 100;
  position: relative;
  bottom: 40px;  
  left: 5px;
}

.like-btn-icon{
  color: red;
  font-size: 2rem;
}