.SearchBar-comp{
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar{
    width: 50rem;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 20px;
    font-family: cursive;
}
